---
import Navigation from "../components/Navigation.astro";
---

<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro</title>
  </head>
  <body>
    <Navigation />
    <h1>首页</h1>
  </body>
</html>
